.App {
  text-align: left;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.mkd-input,
.mkd-output {
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 0 rgb(39, 39, 39);
  min-width: 600px;
  height: 70%;
  padding: 2em;
}

.mkd-output img {
  max-width: 600px;
}
